.fso-footer {
    background-color: $main-color;
    border-color: $border-color;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    color: #eee;
    li {
      list-style-type: none;
    }
    h2.widget-title {
      color: #eee;
    }

}

.copyright {
  text-align: center;
  color: $grey;
}
