.fso-footer {
    background: $main-color url('img/ostholt_eventing_banner.jpg') no-repeat left bottom;
    background-color: $main-color;
    background-size: contain;
    border-color: $border-color;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    color: #eee;
    li {
      list-style-type: none;
    }
    h2.widget-title {
      color: #eee;
    }
    .footer-widgets {
      overflow: auto;
      margin-bottom: 110px;
      padding-left: $space-sm;
      position: relative;
      #language-nav-footer {
        position: absolute;
        top: 20px;
        right: 15px;
        li {
          display: inline;
        }
        .wpml-ls-menu-item .wpml-ls-flag {
          width: 35px;
          height: 22px;
          border: 1px solid #fff;
        }
      }
    }
}

.copyright {
  padding: $space-md;
  text-align: center;
  color: $grey;
}
@media all and (min-width: $screen-sm) {
  .fso-footer {
      background-size: cover;
      height: 300px;
  }
  .footer-widgets {
    overflow: hidden;
    .widget {
      margin-top: 50px;
      width: 25%;
      display: inline;
      float: right;
      padding-right: $space-sm;
      p {
        margin-bottom: 0;
      }
    }
  }
}
