.horse-breed{
  color: #777;
  font-style: italic;
}
.horse-tags {

  p {
    b {
      color: $main-color;
      font-size: 12px;
    }
  }
}
.horse-tag {
  margin-bottom: 3px;
}
.horse-tag-title {
  color: $main-color;
}
.horse-images {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
  overflow: hidden;
  display: table;
  margin: $space-sm auto;
 img {
    height: 75px;
    width: auto;
    margin: 2px;
  }
}

@media all and (min-width: $screen-xs) {
  .horse-sm {
    .content {
      padding-top: 5px;
      padding-left: 20px;
    }
  }
  .horse-tags {

    p {
      b {
        font-size: 14px;
      }
    }
  }

}

@media all and (min-width: $screen-sm) {
  .horse-tags {
      width: 100%;
      height: 50px;
    p {
      float: left;
      margin: $space-xxs;
      b {
        font-size: 16px;
      }
    }
  }
  .horse-images {
   img{
      height: 150px;
    }
  }
}

@media all and (min-width: $screen-sm) {
  .horse-images {
   img{
      height: 110px;
    }
  }
}
@media all and (min-width: $screen-lg) {
  .horse-images {
   img{
      height: 140px;
    }
  }
}
