.navbar.navbar-default {
    background-color: $main-color;
    border: none;
    margin-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: $secondary-text-color;
    background-color: $secondary-color;
}

.navbar-brand {
  padding-left: 5px;
  img {
    width: 120px;
    margin-top: -75px;
  }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: $secondary-color;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: $secondary-color;
}
.navbar-default .navbar-nav>.dropdown>.dropdown-menu>li>a,
.navbar-default .navbar-nav>.dropdown>.dropdown-menu>li>a:focus,
.navbar-default .navbar-nav>.dropdown>.dropdown-menu>li>a:hover {
  background-color: transparent;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: $main-color;
}



@media all and (max-width: $screen-sm) {

}
@media all and (min-width: $screen-xs) {

}
@media all and (min-width: $screen-sm) {
  .navbar-brand {
    padding-left: 5px;
    img {
      width: 200px;
      margin-top: -125px;
    }
  }
}

@media all and (min-width: $screen-md) {
  .navbar-brand {
    padding-left: 10px;
    img {
      width: 250px;
      margin-top: -160px;
    }
  }

}
