.post {
	border-bottom: 1px solid #eee;
	margin-bottom: $space-xs;
	overflow: auto;
}
.posts {
	padding-top: $space-md;
}
.post-title {
	margin: 0;
	a {
		color: $main-heading-color;
	}
}
.exc-footer {
	width: 100%;
}
.single-img {
	&.thumbnail {
		margin: auto;
    &.horizontal-image {
      max-width: 640px;
    }
    &.vertical-image {
      max-width: 280px;
    }
	}
}
.post-categories {
	display: inline;
	li {
		display: inline;
	}
}
.post-date {
		margin: 3px 0;
		color: $grey;
}
.read-more {
	font-size: $text-sm;
	color: $link-color;
	float: right;
}
.latest-news {
	width: 90%;
	margin: $space-sm auto;
}
.prev-next-posts {
	padding: $space-sm 0;
	text-align: center;
}
@media all and (min-width: $screen-xs) {
	.post {
		overflow: hidden;
		position: relative;
		clear: both;
		padding-bottom: $space-lg;
		margin-bottom: $space-sm;
		.post-img {
			width: 40%;
			float: left;
		}
		 .content {
			width: 60%;
			float: left;
			padding-left: $space-sm;
		}
		.read-more {
			padding: $space-xxs;
		}
		.post-date {
				font-size: 14px;
		}
		.exc-footer {
			width: 55%;
			position: absolute;
			bottom: 10px;
		}
	}
}

@media all and (min-width: $screen-sm) {

	.read-more {
		font-size: $text-lg;
	}
}

@media all and (min-width: $screen-md) {

	.post-wide {
		.post-img {
			width: 30%;
		}
		 .content {
			width: 70%;
		}
	}
}
