.post, .hero-post {
	border-bottom: 1px solid #eee;
	margin-bottom: $space-xs;
}
.posts {
	padding-top: $space-sm;
}
.post-title {
	margin: 0;
	a {
		color: $main-heading-color;
	}
}

.single-img {
	&.thumbnail {
		margin: auto;
    &.horizontal-image {
      max-width: 640px;
    }
    &.vertical-image {
      max-width: 280px;
    }
	}
}

.thumbnail {
	margin-bottom: $space-xxs;
	.img {
		height: 250px;
		background-size: cover;
	}
}
.post-date {
		margin: 3px 0;
		color: $grey;
}
.read-more {
	font-size: $text-sm;
	color: $link-color;
}

.latest-news {
	width: 90%;
	margin: $space-sm auto;
}
@media all and (min-width: $screen-xs) {
	.post {
		overflow: hidden;
		clear: both;
		margin-bottom: $space-sm;
		.thumbnail {
			width: 40%;
			float: left;
			.img {
				height:200px;
			}
		}
		 .content {
			width: 60%;
			float: left;
			padding-left: $space-sm;
		}
		.read-more {
			float: right;
			padding-bottom: $space-xxs;
			padding-right: $space-xxs;
		}
		.post-date {
				font-size: 14px;
		}
	}
}

@media all and (min-width: $screen-sm) {
	.thumbnail {
		.img {
			height: 250px;
		}
	}
	.read-more {
		font-size: $text-lg;
	}
}

@media all and (min-width: $screen-md) {
	.thumbnail {
		.img {
			height: 150px;
		}
	}
	.post-wide {
		.thumbnail {
			width: 30%;
		}
		 .content {
			width: 70%;
		}
	}
}
