.sidebar {
    margin-top: $space-md;
  ul {
    li {
      list-style-type: none;
      padding-left: $space-sm;
      li {
        padding-left: 0;
      }
    }
  }
  box-shadow: 0px 5px 5px rgba(0,0,0,.05);
  padding: 0;
  border-radius: 4px;
}
.sidebar-header {
  padding: $space-xs;
  background-color: $main-color;
  border-radius: 3px 3px 0 0;
  .sidebar-title {
    margin: 0;
    font-size: $heading-sm;
    color: $secondary-heading-color;
  }
}
.sidebar-content {
  padding: $space-xs;
}

.widget {
  &.widget_search {
    padding-left: 0;
  }
  a {
    color: $link-color;
  }
}
.widget-title {
  font-size: $heading-sm;
}
#bottom-start-page {
  width: 90%;
  margin: $space-sm auto;
}
@media all and (min-width: $screen-sm) {
  .widget-title {
    font-size: $heading-md;
  }
}
@media all and (min-width: $screen-md) {
  .sidebar-header {
    .sidebar-title {
      font-size: $heading-md;
    }
  }
}
