.sidebar {
    margin-top: $space-md;
  ul {
    li {
      list-style-type: none;
      padding-left: $space-sm;
    }
  }
}
.sidebar-header {
  padding: $space-xs;
  background-color: $main-color;
  border-radius: 3px 3px 0 0;
  .sidebar-title {
    margin: 0;
    font-size: $heading-sm;
    color: $secondary-heading-color;
  }
}
.sidebar-content {
  padding: $space-xs;
}

.widget {
  a {
    color: $link-color;
  }
}
.widget-title {
  font-size: $heading-sm;
}
@media all and (min-width: $screen-sm) {
  .widget-title {
    font-size: $heading-md;
  }
}
@media all and (min-width: $screen-md) {
  .sidebar-header {
    .sidebar-title {
      font-size: $heading-md;
    }
  }
}
