p {
  font-size: $text-sm;
  font-family: $text-font !important;
}
h1, h2, h3 ,h4, h5, h6 {
  color: $main-color;
  font-family: $heading-font !important;
}
a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}


h1 {
    font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 11px;
}
h6 {
  font-size: 10px;
}
@media all and (min-width: $screen-xs) {
  p {
    font-size: $text;
  }

}

@media all and (min-width: $screen-sm) {
  p {
    font-size: $text;
  }
  h1 {
      font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}
@media all and (min-width: $screen-md) {
  h1 {
      font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
